<a href="https://colab.research.google.com/github/FunSizeNanoByte/kitkats/blob/Collab/PA_python_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
x=4

In [ ]:
print(x)

4

In [ ]:
num=10
name= 'akash'
float= 34.56
boolean= True

In [ ]:
x=10
y=5
z=x+y
print(z)

15

In [ ]:
div=x/y
print(div)

2.0

In [ ]:
#to make it to the power of multiply(**) twice, in R we use ^
pwr=x**y
print(pwr)

100000

In [ ]:
mylist=[3,6,7,10]
print(mylist[0])
print(mylist[3])
#starting at 0, we find the 3rd number '[2]' is 7!

3
10

In [ ]:
#adding elements to a list:append

mylist.append(67)
print(mylist)

[3, 6, 7, 10, 67]

we've now added 6 to the list of numbers

In [ ]:
mylist.remove(6)
print(mylist)

ValueError: ignored

In [ ]:
mylist[2]=89
print(mylist)

[3, 7, 89, 67]

In [ ]:
#tuples are made with praenthesis brackets instead. THEY CANT BE EDITED LIKE THIS
mytuple=(4,6,7)
print(mytuple)

(4, 6, 7)

In [ ]:
mytuple.remove(6)
print(mytuple)
#proof you cant change it.

AttributeError: ignored

In [ ]:
#dictionaries
dictionary={'name':'Alice','age':33,'course':'python','test':'positive'}
print(dictionary)

{'name': 'Alice', 'age': 33, 'course': 'python', 'test': 'positive'}

In [ ]:
dictionary['name']
#we're learning how to reference.

'Alice'

In [ ]:
dictionary['age']

33

In [ ]:
dictionary['hobbies']=['basketball','tennis','football']
print(dictionary)

{'name': 'Alice', 'age': 33, 'course': 'python', 'test': 'positive', 'hobbies': ['basketball', 'tennis', 'football']}

In [ ]:
del dictionary['hobbies']
print(dictionary)

{'name': 'Alice', 'age': 33, 'course': 'python', 'test': 'positive'}

In [ ]:
#sets
colors={'red','green','blue'}
print(colors)

{'red', 'green', 'blue'}

In [ ]:
#add elements
colors.add('yellow')
print(colors)

{'red', 'green', 'blue', 'yellow'}

In [ ]:
#difference between lists and sets. sets do not allow duplicates.
mylist.append(7)
print(mylist)

[3, 7, 89, 67, 7, 7]

In [ ]:
myset={5,7,3}
print(myset)

{3, 5, 7}

In [ ]:
myset.add(10)
print(myset)

{10, 3, 5, 7}

In [ ]:
myset.add(10)
print(myset)
##Note there is still just 1 10 in the order. we cant add to a set when we have multiples

{10, 3, 5, 7}

In [ ]:
#esc+a makes a line above
#esc+b makes a link below

In [ ]:
#exampe of if statement
age=17
if age >=18:
    print('you can vote')
    if age>=21:
        print('you can drive')
    else:
        print('you can not drive')
else:
    print('you are too young')

you are too young

In [ ]:
object ='is table'
if object == 'table':
    print('is table')
else:
    print('not table')

not table

In [ ]:
#loops
numbers=[1,2,3,4,5]
for num in numbers:
    print(num)

#this makes seperate rows of instances

1
2
3
4
5

In [ ]:
names = ['mary', 'alex','jose','oman']
for name in names:
    print(name)
    if name == 'alex':
      print('present')
    else:
      print('not present')

mary
not present
alex
present
jose
not present
oman
not present

In [ ]:
#write a code to print student name if his name present in the list.
if 'alex' in names:
    print('here!')
else:
    print('not present')
#one run example

here!

In [ ]:
list_names=['mary','alex','jose','oman']
for list_name in list_names:
    if list_name == 'alex':
        print('present')
    else:
        print('not present')
#professors example

not present
present
not present
not present

In [ ]:
#why loops was skipped

In [ ]:
#logical operators
x=10
y=5
if x>y and x+y==15:
    print('true')
else:
    print('false')

true

In [ ]:
if x<y or x+y==15:
    print('true')
else:
    print('false')

true

In [ ]:
name = 'alex'
gender= 'male'
if name == 'alex' and gender == 'female':
    print('Alex is a Female')
else:
    print(' 'name &' is male')

SyntaxError: ignored

In [ ]:
name = 'alex'
gender= 'male'
if name == 'alex' and gender == 'female':
    print('Alex is a Female')
else:
    print(name+' is male')
    #you can add + to get an additional

alex is male

In [ ]:
file_path = '/content/sample_data/california_housing_train.csv'
#is this necessary?
df=pd.read_csv(file_path)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0